<ul class={{ className }}>
	{% for item in items %}
		<li class="menu__item">
			<a href="{{ item.link }}" {{ item.id == 335 or item.id == 332 ? 'data-action="open-contact"' : '' }}
				class="menu__item-link {{ item.current ? 'current' : ''}}">
				{{ item.title }}
			</a>
		</li>
	{% endfor %}
</ul>
